 th{ 
	border: 1px solid #6699CC;
	border-collapse: collapse;
	background-color: #BEC8D1;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color: /*#404040*/ black;
       	padding: 5px; }
 td{
	border: 1px solid #9CF;
	border-collapse: collapse;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;font-size: 11px;
	color: /*#404040*/ black;
	white-space: nowrap;
	background-color: #fafafa; }
table { 
	text-align: center;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	color: /*#404040*/ black;
	background-color: #fafafa;
	border: 1px #6699CC solid;
	border-collapse: collapse;
	border-spacing: 0px; }

.node { 
	background-color:#DDDDDD;
       	cursor:pointer;
       	/*border:outset 1px gray; padding:0px 2px;*/ }
.value {
}
.toggle {
	vertical-align: middle;
       	margin:0px;
       	display: inline; }
.node_number { 
	background-color: pink;
       	display: inline; }
#xmlwebview_tree { 
	 width:300px;
	 height:500px;
	 overflow:auto;
	 border:inset 2px gray;
	 background-color:#FFFFFF;
	 text-align:left; }
.tree_node { 
	border-bottom:1px solid #6699CC;
       	border-right:1px solid #6699CC;
       	width:auto;
  }
.node_tree_container {
       	display:none;
       	border-width:0px;
       	padding:0px 0px 0px 10px;
}
.node_tree_node { 
	background-color:#DDDDDD;
       	display:inline;
       	border:1px solid #CEE7F5;
}
#xmlwebview_toggle {
	text-align:left;
}
