body {  font-family: Arial, Helvetica, sans-serif;  background-color:#DBF0F7; margin:0px;}
div#main { position:relative; width:96%; margin-left:2%; margin-top:10px; z-index:0; }
input#wfs_uri { width:300px; border: inset 1px gray;  }
th { font-weight:bold; font-size:1.5em; }
table.search { margin:0px; width:100%; border-spacing:0px; }
table.search td { font-size:1.2em; padding:10px 10px 10px 0px; vertical-align:top;  }
th#features_header { width:200px; text-align:left; padding-left:0px;}
div.features { height:100px; width:100%; overflow:auto; border:inset 2px #999999; background-color:white; }
td#params_header { width:100%; text-align:center; padding-left:15px; }  
div#params {width: 100%; border:groove 3px #CCCCCC; padding:4px; display:none; }
table.params { border-collapse:collapse; border-spacing:0px;}
table.params td  { font-size:1.0em; padding:3px 10px 3px 10px; vertical-align:top;  border-bottom:solid 1px #CCCCCC; white-space: nowrap;}
table.params td.last_row  { border-bottom:solid 0px gray; }
.param_name { font-weight:normal; }
.download { font-size:0.8em; }
.date_group { font-weight:normal; margin-bottom:2px; }
.operator_list { width:40px; }
table.lon_lat td { border:solid 0px gray; padding-top:0px; }
td ul { padding: 0px; margin: 0px; list-style-type: none; }
div#request { width:350px; border: solid 1px #66BBDD; padding: 3px 0px; }
div#request p { display:block; margin:0px; padding:5px; }
span.feature_type{ cursor:pointer }
span.format_type{ cursor:pointer }  
img.calendar{ margin-left:5px; margin-right:5px; vertical-align: top;  }
input#max_members { width:50px }
.button {overflow:visible;font-weight:bold;padding:2px;cursor:pointer; }
input#query {width:auto; display:none; overflow:hidden; }
div#help_toggle { width:100%; height:15px; display:block; margin-top:0px; }
div#help_toggle_button {float:right; clear:right; margin-right:20px;}
div#help_toggle_button img {cursor:pointer;}
div#data_source {margin-left:20px; display:none; font-size:0.8em;}
div#help_content {height:auto; display:none; background-color:white; border:dotted 1px gray; margin:0px 20px; padding: 3px; font-size:0.8em; }
div#query_display { font-size:0.7em; height:20px; width:100px; background:url('../img/frame.gif') no-repeat;  font-weight:bold; cursor:pointer;
       padding-left:5px; padding-top:3px;}
span#help_label { font-size:0.6em; }
span#location_status_message { font-size:0.6em; color:red; font-weight:bold; }
div#javascript_needed {position:relative;  left:50%; margin-left:-25%; width:50%; color:red; font-weight:bold; font-size:1.5em; top:50%; margin-top:-10%; }
span#zip_format {display:inline; font-size:0.8em; margin-left:20px;}
div#citation_aatams { position:absolute; width:700px; height:auto; top:123px; left:50%; margin-left:-350px; z-index:100; background-color:#DDDDDD; padding:20px;
       font-size:0.8em; font-weight:bold; border:ridge 3px gray; text-align:justify; display:none;}
div#citation_toggle { width:100%; height:15px; display:block; margin-top:0px; }
div#citation_toggle_button {float:right; clear:right; margin-right:20px; cursor:pointer; }
div#citation_toggle_button img {cursor:pointer; margin-right:5px;}
div#citation_main { font-size:0.5em; background-color:#66BBDD; padding:3px; cursor:pointer; color:#333333; text-align:justify; }
div#citation_header { width:50%; float:left; background-color:black; color:white; text-align:center;}
