<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>  
    <session-factory>  
        <!-- SPATIAL SQL dialect -->  
        <property name="dialect">  
            org.hibernatespatial.postgis.PostgisDialect  
        </property>  
  
        <!-- Echo all executed SQL to stdout -->  
        <property name="show_sql">false</property>  
  
<!--        <mapping resource="InstallationStation.hbm.xml" />  -->
    </session-factory>  
</hibernate-configuration>
