<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>deegree WFS 2.2</display-name>
  <description>deegree WFS 2.2</description>
  <servlet>
    <servlet-name>owservice</servlet-name>
    <servlet-class>org.deegree.enterprise.servlet.OGCServletController</servlet-class>

    <init-param>
      <param-name>services</param-name>
      <param-value>wfs</param-value>
      <description>
        list of supported services, e.g.: wfs,wms (comma separated) allways use lowercase
      </description>
    </init-param>

    <!-- WFS INITIALIZING PARAMETERS -->
    <init-param>
      <param-name>wfs.handler</param-name>
      <param-value>org.deegree.enterprise.servlet.WFSHandler</param-value>
    </init-param>
    <init-param>
      <param-name>wfs.config</param-name>
      <param-value>WEB-INF/conf/wfs/wfs_configuration.xml</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--
  AATAMS Download Filters section.
  -->
  <filter>
      <filter-name>ZipFilter</filter-name>
      
<filter-class>au.org.emii.aatams.DownloadFilters.ZipDownloadFilter</filter-class>
  </filter>

  <!-- put this filter in front of the servlet with url-pattern 
/services/zip -->
  <filter-mapping>
      <filter-name>ZipFilter</filter-name>
      <url-pattern>/services/zip</url-pattern>
  </filter-mapping>

  <filter>
      <filter-name>TextFilter</filter-name>
      
<filter-class>au.org.emii.aatams.DownloadFilters.TextDownloadFilter</filter-class>
  </filter>

  <!-- put this filter in front of the servlet with url-pattern 
/services/text -->
  <filter-mapping>
      <filter-name>TextFilter</filter-name>
      <url-pattern>/services/text</url-pattern>
  </filter-mapping>

  <!-- and these are the two servlets being filtered -->
  <servlet-mapping>
    <servlet-name>owservice</servlet-name>
    <url-pattern>/services/zip</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>owservice</servlet-name>
    <url-pattern>/services/text</url-pattern>
  </servlet-mapping>

  <!-- end AATAMS Download Filters section -->


  <!--
  AATAMS XSLT files (for client based transformation) section.
 
  The same files are used for a server and a client side transformation
  so to make use of only one version of each such file, present them
  via a servlet.
  -->
  <!-- SC 15/01/2010 we don't bother with this now
  <servlet>
        <servlet-name>XHTMLTransformFileServlet</servlet-name>
        <servlet-class>au.org.emii.FileServlet</servlet-class>
        <init-param>
            <param-name>file-path</param-name>
            
<param-value>/WEB-INF/conf/wfs/xslt/outfilter_xhtml.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>content-type</param-name>
            <param-value>text/xml</param-value>
        </init-param>
        <init-param>
            <param-name>content-disposition</param-name>
            <param-value>inline</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>XHTMLTransformFileServlet</servlet-name>
        <url-pattern>/services/xslt/xhtml</url-pattern>
   </servlet-mapping>
   <servlet>
        <servlet-name>CsvTransformFileServlet</servlet-name>
        <servlet-class>au.org.emii.FileServlet</servlet-class>
        <init-param>
            <param-name>file-path</param-name>
            
<param-value>/WEB-INF/conf/wfs/xslt/outfilter_html_csv.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>content-type</param-name>
            <param-value>text/xml</param-value>
        </init-param>
        <init-param>
            <param-name>content-disposition</param-name>
            <param-value>inline</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CsvTransformFileServlet</servlet-name>
        <url-pattern>/services/xslt/csv</url-pattern>
   </servlet-mapping-->
   <!-- end AATAMS XSLT files section -->



  <servlet-mapping>
    <servlet-name>owservice</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>

  <error-page>
    <exception-type>org.deegree.ogcwebservices.OGCWebServiceException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  
</web-app>
