/* default styles for extension "tx_feevcal_pi1" */

	/* List Events */
	#In_Progress {color:red;}
	#category_current {BORDER-TOP:#000000 1px solid; BORDER-LEFT:#000000 1px solid;
			 BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;padding-left:5px;padding-right:5px;
			background-color:black; color:white;}
	#category_picker form select {position:absolute;margin-left:5px;}
	#category_picker form input {margin-left:5px;}
	#contentListNumberEvent table {border-collapse:collapse; margin-top:50px; margin-left:-80px;}
	#contentListNumberEvent table tr {border:#C0C0C0 solid 1px;}
	#contentListNumberEvent table th {padding-right:5px; font-size:small; height:30px; background: url(typo3conf/ext/feevcal/img/bgColorWeek.gif); color:white;}
	#contentListNumberEvent table td, #contentListNumberEvent table td a{padding-right:20px; font-size:small;}
	#listEvent_firstColor_Pres, #listEvent_firstColor_Pres a{background-color:#e5f3f5; color:red;} /* fcffc2 */
	#listEvent_secondColor_Pres, #listEvent_secondColor_Pres a{background-color:#e3e3e3; color:red;} /* d0f8ff */
	#listEvent_firstColor_Fut, #listEvent_firstColor_Fut a{background-color:#e5f3f5; color:black;}
	#listEvent_secondColor_Fut, #listEvent_secondColor_Fut a{background-color:#e3e3e3; color:black;}
	a.header_ok_button{ position:absolute;float:right; margin-left:90px; text-decoration:none;}
	a.header_ok_button span{ position:relative; float: left;}
	a.header_ok_button span.right_part {background-image: url(typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_ok_button span.left_part{background-image: url(typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_ok_button span.center_part {background: url(typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_ok_button span.center_part span{padding-top: 3px;}

	
	/* Day */
	#headerfeevcalDay {margin:10px 0; text-align: center;}
	#backInDay {position:absolute; margin-top: -30px; margin-left: 10px;}
	#contentDay {margin-top: 20px; border-top: #000000 1px solid; border-left: #000000 1px solid; 
		border-right: #000000 1px solid; border-bottom: #000000 1px solid; text-align:center;}
	#contentDay table {width:100%; border:0; height:700px;}
	#contentDay table th {color:white; background-color:#000049; width:10px; height:100px; text-align:center;}
 	#contentDay table td {font-size: small; vertical-align:text-top;}
	#contentDay a {text-decoration:none;}

	/* Week */
	#headerfeevcalWeek {margin:10px 0; text-align: center;}
	#backInWeek {position:absolute;	margin-top: -30px; margin-left: 10px;}
	#detailWeek {vertical-align:4; text-align:center;}
	#contentWeek {margin-top: 20px; text-align: center;}
	#contentWeek table {width:100%; height:700px; border-collapse:collapse;}
	#contentWeek table tr {}
	#contentWeek table tr th {border:#C0C0C0 solid 1px;}
	#viewWeek_Time {height:50px; background: url(typo3conf/ext/feevcal/img/viewWeek_Time.gif); color:white;}
	.viewWeek_Date {height:50px; background: url(typo3conf/ext/feevcal/img/bgColorDate.gif);}
	.viewWeek_Date div a {color:black; text-decoration:none;}
	#viewWeek_TimeNumber {height:100px; background:#0file:///var/www/site1/typo3conf/ext/feevcal/ext_typoscript_setup.txt00049; color:white;}
	#contentWeek table tr td {border:#C0C0C0 solid 1px; vertical-align:text-top;}
	#contentWeek table tr td div {font-size:x-small;}
	#contentWeek table tr td div a {text-decoration:none;}

	/* Month */
	#headerfeevcalMonth {margin:10px 0; text-align: center;}
	#detailMonth {text-align:center; font-size:xx-large; margin-left:20px; margin-right:20px;}
	#detailMonth a {color:black; text-decoration:none;}
	#contentMonth {margin-top:20px;}
	#contentMonth table {width:800px; border-collapse:collapse;}
	#contentMonth table tr {}
	#contentMonth table tr th {border:#C0C0C0 solid 1px; height:30px;}
	#contentMonth table tr th a {text-decoration:none;}
	#contentMonth table tr th a:link {color:white;}
	#contentMonth table tr th a:visited {color:white;}
	#contentMonth table tr td {border:#C0C0C0 solid 1px; text-align:left; vertical-align:text-top; height:100px;}
	#contentMonth table tr td a, #contentMonth table tr td div {font-size:x-small;text-decoration:none;}
	#contentMonth table tr td div a:link {}
	#bgColorDayOfWeek {background: url(typo3conf/ext/feevcal/img/bgColorMonth.gif);}
	#bgColorWeek {background: url(typo3conf/ext/feevcal/img/bgColorWeek.gif); color:white;}
	#backInMonth {position:absolute; margin-top: -30px; margin-left: 10px;}

	/* Year */
	#headerfeevcalYear {margin:10px 0; text-align: center;}
	#detailYear {text-align:center; font-size:xx-large; margin-left:20px; margin-right:20px;}
	#contentYear {margin-top:-10px;}
	#contentYear table {text-align:center; margin:9px; width:100%;}
	#contentYear table tr td {vertical-align:top;}
	#contentYear table tr td table {border:#C0C0C0 solid 1px; border-collapse:collapse; width:300px;}
	#contentYear table tr td table tr th {font-size:xx-small; border:#C0C0C0 solid 1px;}
	#contentYear table tr td table tr th a {text-decoration:none;}
	#contentYear table tr td table tr td {font-size:xx-small; border:#C0C0C0 solid 1px; text-align:right; vertical-align:text-top;}
	#contentYear table tr td table tr td a {text-decoration:none;}
	#viewYear_Month {background:url(typo3conf/ext/feevcal/img/viewYear_Month); height:25px;}/* Month */
	#viewYear_Month a {font-size:medium;}
	#viewYear_Month a:link {color:white;}
	#viewYear_Month a:visited {color:white;}
	#viewYear_Week {background:url(typo3conf/ext/feevcal/img/viewYear_Week); height:20px; color:white; width:30px;}
	#viewYear_Week a {text-decoration:none;}
	#viewYear_DayOfWeek {background:url(typo3conf/ext/feevcal/img/viewYear_DayOfWeek); width:38.5px;}
	#viewYear_WeekNumber {height:35px;}
	#viewYear_WeekNumber a:link, #viewYear_WeekNumber a:visited{color:white;}
	#backInYear {position:absolute; margin-top: -30px; margin-left: 10px;}

	/* Event */
	#headerfeevcalEvent {font-size:x-large;}
	.legendListEvents {float:left; clear:left; width: 100px;}
	#contentEvent div {margin-bottom: 5px;}
	#contentEvent {margin-top: 5px;}
	.viewEvent_day_IMG {position:absolute; margin-left:10px; margin-top:-5px;}
	.viewEvent_week_IMG {position:absolute; margin-left:40px; margin-top:-5px;}
	.viewEvent_month_IMG {position:absolute; margin-left:70px; margin-top:-5px;}

	/* Location */
	.legendListLoc {float:left; clear:left;	width: 100px;}
	#contentLoc div {margin-bottom: 5px;}
	#contentLoc {margin-top: 5px;}

	/* User */
	.legendListUser {float:left; clear:left; width: 100px;}
	#contentUser div {margin-bottom: 5px;}
	#contentUser {margin-top: 5px;}

	/* Category */
	#category,#category_picker {float: left;}
	#category_current {float: left; margin-left:15px;}
	/* #contentListNumberEvent {clear: left;} */

	/* Jump */
	#jumpTo {text-align:center; font-size:small;}
	#jumpTo img {vertical-align:-4px; margin-right:5px;}
	#jumpTo select {margin-left:5px;margin-right:5px;}
	#jumpTo input {vertical-align:-5px; margin-left:5px;}
	a.header_nav_button{ float:right; margin-right:100px; text-decoration:none;}
	a.header_nav_button span{ position:relative; float: left;}
	a.header_nav_button span.right_part {background-image: url(typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_nav_button span.left_part{background-image: url(typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_nav_button span.center_part {background: url(typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_nav_button span.center_part span{padding-top: 3px;}

	/* Quick Jump */
	.quickJumpTo {float:right;}

	/* MiniCal */
	#contentMiniCal table {border:#C0C0C0 solid 1px; border-collapse:collapse; width:180px; height:185px;}
	#contentMiniCal table tr th {font-size:xx-small; border:#C0C0C0 solid 1px;}
	#contentMiniCal table tr th a {text-decoration:none;}
	#contentMiniCal table tr td {font-size:xx-small; border:#C0C0C0 solid 1px; text-align:center; vertical-align:text-top;}
	#contentMiniCal table tr td a {text-decoration:none;}
	#miniCal_Month {background:url(typo3conf/ext/feevcal/img/viewYear_Month.gif); height:20px; color:white; margin-left:10px; margin-right:10px;}
	#miniCal_Week {background:url(typo3conf/ext/feevcal/img/miniCal_Week.gif); height:15px; color:white;}
	#miniCal_DayOfWeek {background:url(typo3conf/ext/feevcal/img/miniCal_DayOfWeek.gif);}
	.miniCal_WeekNumber {height:25px; color:white;}
	.miniCal_WeekNumber a {text-decoration:none; color:white;}
	#miniCal_leftArrow {margin-right:10px;}
	#miniCal_rightArrow {margin-left:10px;}

	/* Back */
	#back img {margin-right: 10px;}
	#backReturn {color:blue; font-size:medium; font-weight:bold; text-decoration:none; BORDER-TOP:#000000 1px solid; BORDER-LEFT:#000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;}
	a.header_return_button{ position:absolute;float:right; margin-left:30px; margin-top:-18px;text-decoration:none;}
	a.header_return_button span{ position:relative; float: left;}
	a.header_return_button span.right_part {background-image: url(typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.header_return_button span.left_part{background-image: url(typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.header_return_button span.center_part {background: url(typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.header_return_button span.center_part span{padding-top: 3px;}

	/* Print */
	#titlePrintForm {font-size:x-large; margin-bottom:5px;}
	#headerPrintList {font-size:large;}
	.legendListPrint {float:left; clear:left; width: 100px;}
	#titlePageListPrint {float:left; clear:left; width: 100px; font-size:large;}
	.headerPrintForm {font-size: large;}
	#contentPrintListEvent table {border-collapse:collapse; margin-top:10px;}
	#contentPrintListEvent table tr {border:#C0C0C0 solid 1px;}
	#contentPrintListEvent table th {padding-right:5px; font-size:small; height:30px; background: url(typo3conf/ext/feevcal/img/bgColorWeek.gif); color:white;}
	#contentPrintListEvent table td, #contentListNumberEvent table td a{padding-right:20px; font-size:small;}
	
	a.print_button{ position:absolute;float:right; margin-left:30px; margin-top:10px;text-decoration:none;}
	a.print_button span{ position:relative; float: left;}
	a.print_button span.right_part {background-image: url(typo3conf/ext/feevcal/img/buttonRight.gif); width: 8px; height: 19px;}
	a.print_button span.left_part{background-image: url(typo3conf/ext/feevcal/img/buttonLeft.gif);  width: 8px;  height: 19px;}
	a.print_button span.center_part {background: url(typo3conf/ext/feevcal/img/buttonBG.gif); height:19px; padding: 0 3px 0 3px;
					color:white; font-weight:bold;}
	a.print_button span.center_part span{padding-top: 3px;}
	#backListPrint {float:left; clear:left; width: 100px; margin-top:10px;}
	#headerPrintListTitlePage {font-size:x-large; margin-top:5px;}
	#printDateNow {margin-left:40px; font-size:x-small;}
/* default styles for extension "tx_cssstyledcontent" */
/* Captions */
	DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

	/* Needed for noRows setting */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic-imagewrap { padding: 0; }

	DIV.csc-textpic IMG { border: none; }

	/* DIV: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

	/* UL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

	/* DL: This will place the images side by side */
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
	DL.csc-textpic-image { margin: 0; }
	DL.csc-textpic-image DT { margin: 0; display: inline; }
	DL.csc-textpic-image DD { margin: 0; }

	/* Clearer */
	DIV.csc-textpic-clear { clear: both; }

	/* Margins around images: */

	/* Pictures on left, add margin on right */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-right: 10px;
	}

	/* Pictures on right, add margin on left */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}

	/* Pictures centered, add margin on left */
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
		display: inline; /* IE fix for double-margin bug */
		margin-left: 10px;
	}
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
	DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
	DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }

	/* No margins around the whole image-block */
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
	DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
		margin-right: 10px !important;
	}
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
		margin-left: 10px !important;
	}

	/* Positioning of images: */

	/* Above */
	DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

	/* Center (above or below) */
	DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
	DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
	DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

	/* Right (above or below) */
	DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
	/* Hide from IE5-mac. Only IE-win sees this. \*/
	* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
	/* End hide from IE5/mac */
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }
/* default styles for extension "tt_news" */

/*-----------------------------------  clearer  -----------------------------------*/
/* prevent floated images from overlapping the div-containers they are wrapped in  */

.news-list-container HR.clearer, .news-single-item HR.clearer, .news-latest-container HR.clearer{
	clear:right;
	height:1px;
	border:1px solid #F9FFE5;

}
.news-latest-container HR.clearer {
	clear:left;
}

/*-----------------------------------  tt_news LATEST view  -----------------------------------*/

.news-latest-container {
	border:1px solid #333;
	background-color:#BBE53A;
}

.news-latest-container H2,.news-latest-gotoarchive {
	color:#fff;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	/*background-color:#D8FA70;*/
	background-color:#769024;
}

.news-latest-gotoarchive {
	font-weight:bold;
	margin-top:5px;
}
.news-latest-gotoarchive A:LINK, .news-latest-gotoarchive A:VISITED, .news-latest-gotoarchive A:HOVER {
	color:#fff;
}
.news-latest-gotoarchive A {
	color:#fff;
}
.news-latest-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	height: auto !important;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	background-color:#F9FFE5;
}

.news-latest-item IMG {

	margin-bottom:5px;
	margin-right:5px;
	border:1px solid #666;
	float:left;
}
.news-latest-category IMG {
	float: none;
	border:none;
	margin:0px;
}
.news-latest-date,.news-latest-morelink,.news-latest-category {
	font-size:9px;
}

.news-latest-morelink {
	height:12px;
}

.news-latest-morelink A {
	float:right;
}


/*--------------------------------- tt_news LIST view  -----------------------------------*/
.news-list-container {

	border:1px solid #000;
	background-color:#BBE53A;
}


.news-list-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	height: auto !important;
	padding:3px;
	margin:3px;
	border:1px solid #666;
	background-color:#F9FFE5;

	}
.news-search-form {
	padding:3px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-search-emptyMsg{
	margin:0px;
}
.news-search-form FORM {
	margin:0px;
}
.news-list-container H3 {
	margin-bottom: 5px;
	padding: 2px;
	border-bottom: 1px solid #769024;
	background-color: #769024;
}
.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
	color:#fff;
	padding-left:2px;
}
.news-list-container H3 A {
	color:#fff;

}
.news-list-container P {
	padding-left:3px;
}
.news-list-date {
	float: right;
	color: #3E551C;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 9px;
	font-weight: normal;
	background-color: #F9FFE5;
	}

.news-list-imgcaption {
	float: right;
	padding-top:3px;
	padding-right:3px;
	font-size: 9px;

	}

.news-list-container IMG {

	float: right;
	border:1px solid #666;
	margin-bottom:5px;
	margin-right:2px;
	margin-left:5px;
}
.news-list-category IMG {
	float: none;
	border:none;
	margin:0px;
}

.news-list-morelink,.news-list-category {
	font-size:9px;
	margin-left:3px;
}
.news-list-morelink  {
	margin-bottom:3px;
}
.news-list-browse {
	text-align: center;
}



	/*---------------------------------  tt_news Page-Browser ---------------------------------*/
.tx-ttnews-browsebox, .browseBoxWrap {
	margin:3px;
	border:1px solid #666;
	padding:3px;
	background-color:#F9FFE5;
}

.tx-ttnews-browsebox TD {
	font-size: 10px;
}
.tx-ttnews-browsebox-strong, .tx-ttnews-browsebox-SCell {
	font-weight: bold;
}
.tx-ttnews-browsebox-SCell P,.tx-ttnews-browsebox TD P{
	margin:0px;
}

.tx-ttnews-browsebox-SCell {
	background-color: #BBE53A;
	border:1px solid #666;
}
.news-search-emptyMsg {
	font-size: 11px;
	margin-left: 10px;
}
	/*--------------------------------- tt_news SINGLE view  ---------------------------------*/
.news-single-item {
	padding:5px;
	margin-bottom:5px;
	border:1px solid #666;
	background-color:#F9FFE5;

}
.news-single-item H2 {
	font-size: 16px;
	font-weight:bold;
	color: #85A600;
	margin-bottom: 0px;
}
.news-single-item H3 {
	margin-bottom: 15px;
}



.news-single-img {
	float: right;
	margin-left:5px;

}



.news-single-imgcaption {
	padding:3px;
	clear:both;
}

.news-single-category {

	float: right;
}
.news-single-backlink, .news-single-backlink a {
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.news-single-timedata {
	float: right;
}
.news-single-timedata, .news-single-author,.news-single-imgcaption {
	font-size: 9px;
}
.news-single-author {
	padding-bottom: 3px;
}
.news-single-additional-info {
	background-color: #BBE53A;
/*	clear: both;*/
	margin-top: 15px;
	border: 1px solid #666;
	padding:3px;
	padding-bottom:0px;

}
.news-single-related,.news-single-files,.news-single-links  {
	border: 1px solid #666;
	margin:0px;
	margin-bottom: 3px;
	padding:3px;
	background-color:#F9FFE5;
}

.news-single-related DD, .news-single-links DD, .news-single-files DD {
	margin-left:20px;
}

.news-single-related DT, .news-single-links DT, .news-single-files DT {
	font-weight: bold;
	font-size: 11px;
	margin-left:5px;
	width:90%;
}

/*--------------------------------- tt_news Archivemenu (AMENU) --------------------------------- */
.news-amenu-container {
	margin-top:10px;
	padding:3px;
	border:1px solid #333;
	background-color:#BBE53A;
}
.news-amenu-container LI {
	padding-bottom:1px;
}
.news-amenu-container UL {
	padding:3px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:0px;
	border:1px solid #666;
	background-color:#F9FFE5;
	list-style-type: none;
}
.news-amenu-container H2 {
	color:#fff;
	padding:3px;
	border:1px solid #666;
	background-color:#769024;
}
.news-amenu-item-year {
	font-weight: bold;
	border: 1px solid #666;
	padding: 2px;
	background-color: #769024;
	color:#fff;
}

/*--------------------------------- tt_news Categorymenu (CATMENU) --------------------------------- */


.news-catmenu  {
	padding:5px;
	margin:10px 0px 10px 10px;
	border:1px solid #666;
	background-color:#F9FFE5;
}
.news-catmenu-header {
	font-size:11px;
	font-weight:bold;
}
.news-catmenu DIV {
	font-size:10px;
	white-space: nowrap;
}
.news-catmenu DIV img, .news-catmenu img, .news-catmenu-header img {
	margin:0px;
	padding: 0px;
	vertical-align: middle;
}
.news-catmenu-ACT {
	font-weight:bold;
}

/*  Styles for catmenu mode "nestedWraps" */
.level1 {
	padding:1px;
	padding-left:10px;
	background-color:#ebf8bf;
	border-left:1px solid #666;
	border-top:1px solid #666;
}
.level2 {
	padding:1px;
	padding-left:10px;
	background-color:#ddf393;
	border-left:1px solid #666;
}
.level3 {
	padding:1px;
	padding-left:10px;
	background-color:#cae46e;
	border-left:1px solid #666;
	border-top:1px solid #666;

}
.level4 {
	padding:1px;
	padding-left:10px;
	background-color:#b0cb51;
	border-left:1px solid #666;
}

