body { width:100%; background-color:#b2b2b2;  font-family: Arial, Helvetica, sans-serif; margin:0%; padding:0%; }
label { font-weight: bold; }
div.form { border:outset 2px gray; padding:20px; float:left; background-color:#DBF0F7; width:auto; }
div.form-contents { width:100%; margin-top:10px; }
div.xfinput, div.xfselect1, div.xfoutput, div.xftextarea, div.xftrigger, div.xfsubmit {float:left; clear:left;}
span.xforms-control > span { display:table; }
span.xforms-control > span > span { display:table-row; }
span.xforms-control > span > span > span { display:table-cell; padding:2px; vertical-align:top; }
span.xforms-output > span > span > span.value { color:blue; }
label.xforms-label { display:block; width: 300px; text-align:right; padding-right:10px; font-weight: bold; }
textarea { height:50px; width: 300px; }
div.dependant-selects { float:left; clear:left; width:100%; border:dashed 1px gray; margin-bottom:1px; }
div.buttons { float:left;clear:left; }
div.messages { float:left;clear:left; }
div#success-message span.xforms-output > span > span > span.value { color:blue; border:none; width:400pt; font-weight: bold; }
div#error-message { color:red; }
div#error-message span.xforms-output > span > span > span.value { color:red; border:none; width:400pt; font-weight: bold; }
span.xforms-output > span > span > span.value { color:blue; }
div#console {float:left; clear:left; display:none;}
div.worksheet { border:none; width:535pt; padding:20pt; margin:0pt; float:left; clear:left; background-color:white; text-align:center;}
div.worksheet-contents { margin-top:10pt; }
div.worksheet-section { width:100%; float:left; clear:left; margin-bottom:20pt; text-align:left; }
div.worksheet-contents span.xforms-control > span { margin-bottom:3pt; }
div.worksheet-contents span.xforms-control > span > span > span {  padding:1pt; }
div.worksheet-contents span.xforms-output > span > span > span.value { color:black; border:dashed 1px black; width:370pt; font-weight: bold; }
div.narrow span.xforms-output > span > span > span.value {  width:90pt; }
div.medium span.xforms-output > span > span > span.value {  width:180pt; }
div.worksheet-contents label.xforms-label { width: 160pt; text-align:left; }
